.posts-list-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #c7d1f3;
  }
  
  .posts-list-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .post-card {
    background-color: #75ce6a;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .post-card h1 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .post-card p {
    font-size: 16px;
    color: #666;
  }
  
  .add-post-form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.add-post-form-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.form-control {
    border-radius: 5px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
